<div class="main-layout">
  <app-nav-bar></app-nav-bar>
  <div class="main">
    <div class="profile-content-wrapper">
      <div class="header">
        <a href="#" class="back-arrow">&#x2039;</a>
        <h2>Perfil</h2>
      </div>

      <div class="profile-card">
        <div class="profile-info">
          <h1 class="profile-name">{{ usuario.nombre }}</h1>
          <p class="profile-email">{{ usuario.email }}</p>
          
          <div class="profile-detail">
            <span class="detail-label">Perfil:</span>
            <span class="detail-value">{{ usuario.rol }}</span>
          </div>
          
          <div class="profile-detail">
            <span class="detail-label">Institución:</span>
            <span class="detail-value">Universidad Politécnica de Chiapas</span>
          </div>
          
          <div class="profile-detail">
            <span class="detail-label">Fecha de registro:</span>
            <span class="detail-value">25/10/2023</span>
          </div>
          
          <div class="profile-description">
            <span class="detail-label">Descripción:</span>
            <p class="description-text">Encargado de colección entomológica del ECOSUR</p>
          </div>
        </div>
        
        <div class="profile-image-section">
          <img src=" /assets/perfil.png" alt="Profile" class="profile-image">
          <button class="edit-button">Editar perfil</button>
        </div>
      </div>
    </div>
  </div>
</div>