<div class="main-layout">
  <app-nav-bar></app-nav-bar>
  <div class="main">
    <div class="header">
          <a href="/requets" class="back-arrow">&#x2039;</a>
          <h2>Solicitudes</h2>
        </div>

      <div class="solicitudes-content-wrapper">
        
        <div class="my-requests-section">
          <h3>Solicitudes Rechazadas</h3>
        </div>

        <div class="request-list">
          <div class="request-item">
            <span class="species-name">Aulacophora femoralis</span>
            <span class="request-date">23/10/2025</span>
            <img src="assets/papilo.png" alt="Species Image" class="species-image">
          </div>
          <div class="request-item">
            <span class="species-name">Aulacophora femoralis</span>
            <span class="request-date">23/10/2025</span>
            <img src="assets/papilo.png" alt="Species Image" class="species-image">
          </div>
          <div class="request-item">
            <span class="species-name">Aulacophora femoralis</span>
            <span class="request-date">23/10/2025</span>
            <img src="assets/papilo.png" alt="Species Image" class="species-image">
          </div>
          <div class="request-item">
            <span class="species-name">Aulacophora femoralis</span>
            <span class="request-date">23/10/2025</span>
            <img src="assets/papilo.png" alt="Species Image" class="species-image">
          </div>
          <div class="request-item">
            <span class="species-name">Aulacophora femoralis</span>
            <span class="request-date">23/10/2025</span>
            <img src="assets/papilo.png" alt="Species Image" class="species-image">
          </div>
          <div class="request-item">
            <span class="species-name">Aulacophora femoralis</span>
            <span class="request-date">23/10/2025</span>
            <img src="assets/papilo.png" alt="Species Image" class="species-image">
          </div>
        </div>
      </div>
    </div>
</div>


