.main-container {
  position: relative;
  width: 500px;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-image: url(/assets/mariposa2.png);
  background-position: top;
}
.content-overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.return{
  margin-right: 140px;
}


.login-button,
.register-button {
  padding: 6px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button {
  background-color: white;
  color: black;
}

.login-button:hover {
  background-color: #cecece;
}

.login-button {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 2px solid white;
}

.main-content {
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-top: 200px;
  padding-top: 160px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  opacity: 0.9;
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  gap: 10px;
}

.pagination-indicator {
  width: 30px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2.5px;
}

.pagination-indicator.active {
  background-color: #00bcd4;
  width: 50px;
}

.footer{
    justify-content: center;
    align-items: center;
}