<div class="main-container">
  <div class="background-image"></div>
  <div class="content-overlay">
    <header class="header">
        <a href="/login"><button class="login-button">Iniciar sesión</button></a>
        <a href="/register"><button class="register-button">Registrarse</button></a>
    </header>

    <main class="main-content">
      <h1 class="title">Guarda tus colecciones</h1>
      <h2 class="subtitle">Organiza tus datos</h2>
    </main>

    <footer class="footer">
      <div class="pagination-indicator active"></div>
      <div class="pagination-indicator"></div>
      <div class="pagination-indicator"></div>
    </footer>
  </div>
</div>