<div class="specimens-view-container">
  <app-nav-bar class="fixed-navbar"></app-nav-bar>
  <main>
    
    <div *ngIf="!specimenId">
      <div class="header-specimens">
        <h1>Especímenes de otros usuarios</h1>
      </div>

      <div class="search-and-add-container">
        <div class="search-bar-container">
          <img src="https://icongr.am/clarity/search.svg?size=24&color=757575" alt="Buscar">
          <input type="text" placeholder="Buscar" (input)="onSearchChange($event)">
        </div>
      </div>

      <br>
      <div class="specimens-grid">
        <app-specimen-card
          *ngFor="let spec of filteredSpecimens"
          [specimen]="spec"
          (specimenSelected)="onSpecimenSelected($event)">
          </app-specimen-card>
      </div>
    </div>

    <div *ngIf="specimenId && specimen" class="specimen-detail-card">
      <div class="detail-header">
        <a routerLink="/other-specimens" class="back-link">
          <img src="/assets/flechaAtras.png" alt="Volver">
        </a>
        <div class="title-section">
          <h1>{{ specimen.commonName }}</h1>
          <p class="subtitle">{{ specimen.taxonomy.genus }} {{ specimen.taxonomy.species }}</p>
        </div>
      </div>

      <div class="detail-body">
        <div class="top-section-details">
          
          <div class="image-section">
            <img *ngIf="specimen.mainPhoto; else placeholder"
                 [src]="specimen.mainPhoto"
                 alt="Foto Principal del Espécimen">
            
            <ng-template #placeholder>
              <img src="assets/placeholder.png" alt="Sin imagen disponible">
            </ng-template>
          </div>

          <div class="info-section-top-right">
            <div class="info-item"><label>Nombre</label><p>{{ specimen.commonName }}</p></div>
            <div class="info-item"><label>Familia</label><p>{{ specimen.taxonomy.family }}</p></div>
            <div class="info-item"><label>Género</label><p>{{ specimen.taxonomy.genus }}</p></div>
            <div class="info-item"><label>Especie</label><p>{{ specimen.taxonomy.species }}</p></div>
            <div class="info-item"><label>Categoría</label><p>{{ specimen.taxonomy.category }}</p></div>
            <div class="info-item"><label>Colector</label><p>{{ specimen.collector }}</p></div>
          </div>
        </div>

        <div class="bottom-section-details">
          <div class="info-item"><label>Fecha de colección</label>
            <p><img src="https://icongr.am/clarity/calendar.svg?size=16&color=757575" alt="cal">
              {{ specimen.collectionDate | date }}
            </p>
          </div>

          <h3>Colectado en</h3>
          <div class="info-grid">
            <div class="info-item"><label>País</label><p>{{ specimen.location.country }}</p></div>
            <div class="info-item"><label>Estado</label><p>{{ specimen.location.state }}</p></div>
            <div class="info-item"><label>Municipio</label><p>{{ specimen.location.locality }}</p></div>
          </div>

          <h3>Ubicación Geográfica</h3>
          <div class="info-grid">
            <div class="info-item"><label>Latitud</label><p>{{ specimen.location.latitude_degrees }}° {{ specimen.location.latitude_minutes }}' {{ specimen.location.latitude_seconds }}"</p></div>
            <div class="info-item"><label>Longitud</label><p>{{ specimen.location.longitude_degrees }}° {{ specimen.location.longitude_minutes }}' {{ specimen.location.longitude_seconds }}"</p></div>
            <div class="info-item"><label>Altitud</label><p>{{ specimen.location.altitude }} msnm</p></div>
          </div>

          <h3>Otros datos</h3>
          <div class="info-grid">
            <div class="info-item"><label>Individuos</label><p>{{ specimen.individualsCount }}</p></div>
            <div class="info-item"><label>Año de determinación</label><p>{{ specimen.determinationYear }}</p></div>
            <div class="info-item"><label>Determinador</label><p>{{ specimen.determinador }}</p></div>
            <div class="info-item"><label>Sexo</label><p>{{ specimen.sex }}</p></div>
            <div class="info-item"><label>Tipo de vegetación</label><p>{{ specimen.vegetationType }}</p></div>
            <div class="info-item"><label>Método colecta</label><p>{{ specimen.collectionMethod }}</p></div>
          </div>

          <h3>Notas</h3>
          <p class="notes-text">{{ specimen.notes }}</p>

          <h3>Imágenes adicionales</h3>
          <div class="additional-images-grid">
            <ng-container *ngIf="specimen.additionalPhoto1">
              <img [src]="specimen.additionalPhoto1" alt="Imagen adicional 1">
            </ng-container>
            <ng-container *ngIf="specimen.additionalPhoto2">
              <img [src]="specimen.additionalPhoto2" alt="Imagen adicional 2">
            </ng-container>
            <ng-container *ngIf="specimen.additionalPhoto3">
              <img [src]="specimen.additionalPhoto3" alt="Imagen adicional 3">
            </ng-container>
            <ng-container *ngIf="specimen.additionalPhoto4">
              <img [src]="specimen.additionalPhoto4" alt="Imagen adicional 4">
            </ng-container>
            <ng-container *ngIf="specimen.additionalPhoto5">
              <img [src]="specimen.additionalPhoto5" alt="Imagen adicional 5">
            </ng-container>
            <ng-container *ngIf="specimen.additionalPhoto6">
              <img [src]="specimen.additionalPhoto6" alt="Imagen adicional 6">
            </ng-container>
          </div>
          
          <div class="request-button-container">

          </div>
        </div>
      </div>
    </div>
  </main>
</div>