<div class="info-card-container">
  <div class="info-content">
    <h1 class="title">Oclosaurus</h1>

    <div class="info-block">
      <span class="label">Publicado por:</span>
      <span class="data">Cesar Yair Toledo Villarreal</span>
    </div>

    <div class="info-block">
      <span class="label">Institución:</span>
      <span class="data">Universidad Politécnica de Chiapas</span>
    </div>

    <div class="info-block">
      <span class="label">Categoría:</span>
      <span class="data">{{ category }}</span>
    </div>

    <div class="info-block">
      <span class="label">Fecha publicación:</span>
      <span class="data">04/11/2025</span>
    </div>
  </div>

  <div class="profile-content">
    <img src="/assets/mariposa3.png"alt="" class="profile-image"/>
    <a href="#" class="profile-button">Ver perfil</a>
  </div>
</div>