<div class="form-content">
  <h1 class="form-title">Ya casi acabamos</h1>

  <!-- Mensajes de Estado -->
  @if (errorMessage) {
    <p style="color: red; text-align: center;">{{ errorMessage }}</p>
  }
  @if (successMessage) {
    <p style="color: green; text-align: center;">{{ successMessage }}</p>
  }

  <input 
    type="text" 
    class="form-input" 
    placeholder="Descripción del perfil" 
    [(ngModel)]="description" 
    name="description" 
  />
  
  <!-- CAMBIO AQUÍ: Indicamos visualmente que es opcional -->
  <input 
    type="text" 
    class="form-input" 
    placeholder="Sube una foto (URL) - Opcional"
    [(ngModel)]="photo"
    name="photo"
  />

  <button class="submit-button" (click)="onRegister()" [disabled]="registering">
    @if(registering) {
      Registrando...
    } @else {
      Registrarse
    }
  </button>

  <a routerLink="/login" class="login-link">¿Ya tiene una cuenta?</a>
</div>