.mainexposition-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa; 
  color: #212529; 
}

main {
  flex: 1; 
  overflow-y: auto; 
  padding: 40px 60px; 
}

.header-principal {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.header-principal .back-link {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.header-principal h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}