.mainexposition-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa; 
  color: #212529; 
}
main {
  flex: 1;
  overflow-y: auto;
  padding: 40px 60px;
}

.header-principal {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.header-principal .back-link {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.header-principal h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.card-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.expocart-container{
    margin-top: 20px;
    width: 100%;
    height: 412px;
    display: flex;
    background-color: rgba(226, 249, 209, 1);
}

.cart-container{
    height: 100px;
}

.imagenm{
    margin: 25px;
}

.content-details-container {
  margin: 40px auto 0 auto;
  max-width: 1100px;
}

.text-block1 {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.text-block {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.image-block {
  margin-top: 30px;
  width: 100%;
}

.content-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.caption {
  display: block;
  font-size: 0.9rem;
  color: #000000;
  font-weight: bolder;
} 