
.registro-especimen-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--gris-fondo);
  color: var(--negro);
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.menu a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 50px;
}

.menu a:hover {
  background-color: #ffffff22;
}


main {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.formulario {
  background-color: var(--blanco);
  border-radius: var(--radio);
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #F6F6F6;
  border-radius: var(--radio);
  font-size: 14px;
  background-color: var(--gris-fondo);
}

textarea {
  resize: none;
  height: 80px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.formulario h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0;
}

.acciones {
  display: flex;
  gap: 10px;
}

.acciones .btn {
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.acciones .cancelar {
  background-color: #FFFFFF;
  border: 2px solid #757575;
  color: #757575;
}

.acciones .guardar {
  background-color: var(--verde-claro);
  color: var(--negro);
  border: none;
}

.subir-foto {
  background-color: #F6F6F6;
  border-radius: var(--radio);
  padding: 60px;
  text-align: center;
  font-size: 14px;
  grid-column: span 1;
  color: #757575;
  font-weight: 600;
}

.subir-foto img {
  max-width: 100%;
  height: auto;
}


input[type="file"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.subir-foto.principal {
  grid-column: span 3;
}

.additional-images-container {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.additional-images-container .subir-foto {
  padding: 30px;
  height: 150px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additional-images-container .subir-foto img {
  max-width: 80px; 
  max-height: 80px;
  object-fit: contain;
}

.additional-images-container .subir-foto p {
  margin-top: 10px;
  font-size: 12px;
}

.campos{
  cursor: pointer;
  font-weight:bolder;
  color: #757575;
}