<div class="registro-coleccion-container">
  <app-nav-bar></app-nav-bar>

  <main>
    <div class="header-registro">
      <a href="/expos" class="back-link"
        ><img src="/assets/flechaAtras.png" alt=""
      /></a>
      <h1>Registro Exposición</h1>
    </div>

    <form class="formulario-container" >
      <h2>Formulario de Exposición</h2>

      <h3>Información Principal</h3>
      <div class="form-group">
        <label for="titulo">Título de la exposición</label>
        <input
          type="text"
          id="titulo"
          placeholder="Elige un titulo para tu exposición"
          [(ngModel)]="exhibitionData.title"
          name="title"
        />
      </div>
      <div class="form-group">  
        <label for="descripcion">Descripción</label>
        <textarea
          id="descripcion"
          rows="5"
          placeholder="Añada una descripción del espécimen"
          [(ngModel)]="exhibitionData.description"
          name="description"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <input
          type="text"
          placeholder="Añada una categoría"
          [(ngModel)]="exhibitionData.category"
          name="category"
        />
      </div>

      <div class="form-group">
        <label for="coverImage">Imagen de Portada</label>
        <div class="file-upload-wrapper">
          <input
            type="file"
            id="coverImage"
            (change)="onCoverImageSelected($event)"
            name="coverImage"
            class="hidden-file-input"
          />
          <label for="coverImage" class="btn-upload-file">
              <ng-container *ngIf="coverImageFileName; else uploadCoverIcon">
                {{ coverImageFileName }}
              </ng-container>
              <ng-template #uploadCoverIcon>
                Seleccionar Imagen de Portada
              </ng-template>
            </label>
        </div>
      </div>

      <h3>Contenido de la exposición</h3>
      <div *ngFor="let contentBlock of dynamicContent; let i = index" class="content-block">
        <div *ngIf="contentBlock.contentType === 'TEXT'" class="form-group">
          <label for="texto-contenido-{{i}}">Texto</label>
          <textarea
            id="texto-contenido-{{i}}"
            rows="5"
            placeholder="Añade un texto"
            [(ngModel)]="contentBlock.textContent"
            name="textContent-{{i}}"
          ></textarea>
          <button type="button" (click)="removerContenido(contentBlock.id)" class="btn-delete">Eliminar</button>
        </div>

        <div *ngIf="contentBlock.contentType === 'IMAGE'" class="form-group">
          <label for="imagen-{{i}}">Imagen</label>
        <div class="file-upload-wrapper">
            <input
              type="file"
              id="imagen-{{i}}"
              class="hidden-file-input"
              (change)="onContentImageSelected($event, contentBlock)"
              name="imageUrl-{{i}}"
            />
            <label for="imagen-{{i}}" class="btn-upload-file">
              <ng-container *ngIf="contentBlock.imageFileName; else uploadContentIcon">
                {{ contentBlock.imageFileName }}
              </ng-container>
              <ng-template #uploadContentIcon>
                Seleccionar Imagen
              </ng-template>
            </label>
          </div>
          <label for="desc-imagen-{{i}}">Descripción de la imagen</label>
          <input
            type="text"
            id="desc-imagen-{{i}}"
            placeholder="Añada una breve descripción"
            [(ngModel)]="contentBlock.imageDescription"
            name="imageDescription-{{i}}"
          />
          <button type="button" (click)="removerContenido(contentBlock.id)" class="btn-delete">Eliminar</button>
        </div>
      </div>

      <div class="content-buttons">
        <button type="button" class="btn-add btn-add-text" (click)="anadirContenido('TEXT')"><img src="/assets/plussBlanco.png" alt="">Añadir texto</button>
        <button type="button" class="btn-add btn-add-image" (click)="anadirContenido('IMAGE')"><img src="/assets/plussNegro.png" alt="">Añadir imagen</button>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-publicar" (click)="publicarExposicion()">Publicar Exposición</button>
        <button type="button" class="btn-cancelar">Cancelar</button>
      </div>
    </form>
  </main>
</div>