
.registro-especimen-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--gris-fondo);
  color: var(--negro);
}

.sidebar {
  width: 250px;
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo {
  border-radius: var(--radio);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--blanco);
  padding-left: 15px;
}

.logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.menu a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 50px;
  transition: background 0.2s;
}

.menu a:hover {
  background-color: #ffffff22;
}
