<div class="form-content">
  <h1 class="form-title">Bienvenido a Biodex</h1>

  <input type="text" class="form-input" placeholder="Nombre" />
  <input type="text" class="form-input" placeholder="Apellidos" />
  <input type="text" class="form-input" placeholder="Institución" />
  <input type="email" class="form-input" placeholder="Correo electronico" />
  <input type="password" class="form-input" placeholder="Contraseña" />

  <a href="/register2"><button class="submit-button">Siguiente</button></a>

  <a href="/login" class="login-link">¿Ya tiene una cuenta?</a>
</div>