<div class="form-content">
  <h1 class="form-title">Bienvenido a Biodex</h1>

  <input 
    type="text" 
    class="form-input" 
    placeholder="Nombre" 
    [(ngModel)]="name" 
    name="name" 
  />
  
  <input 
    type="text" 
    class="form-input" 
    placeholder="Apellidos" 
    [(ngModel)]="lastName" 
    name="lastName" 
  />
  
  <input 
    type="text" 
    class="form-input" 
    placeholder="Institución" 
    [(ngModel)]="institution" 
    name="institution" 
  />
  
  <input 
    type="email" 
    class="form-input" 
    placeholder="Correo electrónico" 
    [(ngModel)]="email" 
    name="email" 
  />
  
  <input 
    type="password" 
    class="form-input" 
    placeholder="Contraseña" 
    [(ngModel)]="password" 
    name="password" 
  />

  <!-- Botón que ejecuta la función para ir al siguiente paso -->
  <button class="submit-button" (click)="goToNextStep()">Siguiente</button>

  <a routerLink="/login" class="login-link">¿Ya tiene una cuenta?</a>
</div>