<aside class="sidebar">
  <nav class="menubar">
    <div class="logo">
      <img src="assets/logo1.png" alt="BioDex Logo" />
      <div><a href="/">Biodex</a></div>
    </div>

    <a
      routerLink="/mainview"
      routerLinkActive="active"
    >
      Principal
    </a>

    <ng-container *ngIf="isAuthenticated()">
      <a
        routerLink="/collection"routerLinkActive="active"
      >
        Colecciones
      </a>

      
      <a routerLink="/expos" routerLinkActive="active">
        Exposiciones
      </a>
    </ng-container>
  </nav>

  <div class="profile-section" *ngIf="isAuthenticated()">
    <img src="/assets/mariposa3.png" alt="User Profile" class="profile-image" />
    <a routerLink="/perfil">Mi perfil</a>
  </div>
</aside>