.sidebar {
  width: 250px;
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 680 px;
}

.menubar a.active{
  background-color: rgba(226, 249, 209, 1);
  color: black;
}

.logo {
  border-radius: var(--radio);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--blanco);
  padding-left: 15px;
}

.logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.menubar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.menubar a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 50px;
  transition: background 0.2s;
}

.menubar a:hover {
  background-color: #ffffff22;
}


main {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}
h1 {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--negro);
}

.menu a.active {
  background-color: var(--verde-claro);
  color: var(--negro);
}

.profile-section {
  margin-top: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-section a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: 600;
}